
/* ---------------- Navigation ---------------------- */

nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 10px;
            background-color: #eff0ff;
            font-family: 'Times New Roman', Times, serif;
        }

        .right a {
            margin-left: 15px;
            text-decoration: none;
            color: #000000;
            font-weight: bold;
        }

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Arial, sans-serif;
}


/*-------------- Section 1: Explore ----------------*/


.hero-section {
    text-align: center;
    padding: 60px 30px;
    margin-left: -10px; /* Adjust value as needed */
    background-color: #eff0ff;
}

.hero-section h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}


.search-box {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-box input {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-box button {
    padding: 10px 20px;
    border: none;
    background-color: #0077ff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


/*------------ Section 2: Destinations ---------------*/


   .destinations-section {
      padding: 20px;
      width: 100%;       /* or a fixed width like 800px */
      max-width: 1200px;
      height: 400px;
      margin: 0 auto;  
      font-family: Georgia, 'Times New Roman', Times, serif;

    }


  .destinations-section h1 {
    text-align: left;       /* ensures text is left-aligned */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;

    
  }




    .destinations-grid {
      display: flex;
      gap: 50px;
      flex-wrap: wrap;
    }

    .destination {
      position: relative;
      width: 360px;
      height: 250px;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }

    .destination img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .destination-label {
      position: absolute;
      bottom: 10px;
      left: 10px;
      background-color: rgba(0,0,0,0.5);
      color: #fff;
      padding: 5px 10px;
      border-radius: 5px;
      font-weight: bold;
      font-size: 1.2rem;
    }