
/* ---------------- Navigation ---------------------- */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background: #eff0ff;
    max-width: 1000px;   /* controls how close they come */
    margin: 0 auto;     /* centers the whole nav */
}


.right a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}

.right a:hover {
    color: rgb(71, 2, 77);        /* prevents blue hover */
    text-decoration: none;
} 

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    font-size: 30px;
}

h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

    font-size: 18px;
}

#category {
  display: block;
  margin: 0 auto;
}


/*-------------- Section 2: Destinations ----------------*/


.destinations {
  display: flex;
  gap: 25px;
  justify-content: center;
  padding: 30px 0;
}

.card {
  width: 300px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card h3 {
  margin: 10px;
}

.card p {
  margin: 10px;
  color: #555;
  font-size: 14px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.rating {
  font-size: 16px;
  font-weight: bold;
}

button {
  padding: 6px 10px;
  background: #4a68ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #364edb;
}

