
/* ---------------- Navigation ---------------------- */

nav {
  
    top: 0;
    left: 0;
    width: 97%;
    background-color: #001e60;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;       /* highest priority */
}

.right a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 3px 6px;
}

.left 
{
  color: whitesmoke;
}

        

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Arial, sans-serif;
}

/* == Button == */

.magic-btn {
  padding: 2px 2px;
  color: antiquewhite;
  border: 2px solid #4a68ff;
  border-radius: 6px;
  cursor: pointer;

  position: relative;
  overflow: hidden;
}
/* glowing stars */
.magic-btn::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 8px;
  height: 8px;
  background: #ffd700;
  border-radius: 50%;
  box-shadow:
    0 0 6px #ffd700,
    20px 10px 4px #fff,
    40px -10px 6px #ffd700,
    60px 5px 4px #fff;
  animation: sparkle 1.8s linear infinite;
  opacity: 0.8;
}

/* animation moves sparkles slowly */
@keyframes sparkle {
  0% { transform: translateX(0); }
  100% { transform: translateX(60px); }
}


/*-------------- Section 1: Explore ----------------*/


.hero-section {
    text-align: center;
    padding: 60px 30px;
    margin-left: 0px; /* Adjust value as needed */

}

.hero-section h1 {
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}


.search-box {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-box input {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-box button {
    padding: 10px 20px;
    border: none;
    background-color: #0077ff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


/*------------ Section 2: Destinations ---------------*/


   .destinations-section {
      padding: 20px;
      width: 100%;       /* or a fixed width like 800px */
      max-width: 1000px;
      height: 400px;
      margin: 0 auto;  
      font-family: Georgia, 'Times New Roman', Times, serif;

    }


  .destinations-section h1 {
    text-align: left;       /* ensures text is left-aligned */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;

    
  }




    .destinations-grid {
      display: flex;
      gap: 50px;
      flex-wrap: wrap;
    }

    .destination {
      position: relative;
      width: 300px;
      height: 250px;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }

    .destination img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .destination-label {
      position: absolute;
      bottom: 10px;
      left: 10px;
      background-color: rgba(0,0,0,0.5);
      color: #fff;
      padding: 5px 10px;
      border-radius: 5px;
      font-weight: bold;
      font-size: 1.2rem;
    }