
/* ---------------- Navigation ---------------------- */

nav {
  
    top: 0;
    left: 0;
    width: 97%;
    background-color: #001e60;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;       /* highest priority */
}

.right a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 3px 6px;
}

.left 
{
  color: whitesmoke;
}

/* ---------------- Journal Section ---------------------- */
       
.journal-section {
  padding: 20px;
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Arial, sans-serif;
}

/* == Button == */

.center-btn {
    display: block;
    margin: 20px auto;   /* Centers the button */
    color: blue;
}

.magic-btn {
  padding: 2px 2px;
  border: 2px solid #4a68ff;
  border-radius: 6px;
  cursor: pointer;

  position: relative;
  overflow: hidden;
}
/* glowing stars */
.magic-btn::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 8px;
  height: 8px;
  background: #ffd700;
  border-radius: 50%;
  box-shadow:
    0 0 6px #ffd700,
    20px 10px 4px #fff,
    40px -10px 6px #ffd700,
    60px 5px 4px #fff;
  animation: sparkle 1.8s linear infinite;
  opacity: 0.8;
}

/* animation moves sparkles slowly */
@keyframes sparkle {
  0% { transform: translateX(0); }
  100% { transform: translateX(60px); }
}


/*-------------- Section 1: Explore ----------------*/
body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.journal-card {
    display: none;
    margin: 20px auto;
    background: #fff;
    padding: 20px 25px;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 300px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

.journal-card label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

.journal-card input,
.journal-card textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.journal-card textarea {
    resize: vertical;
}

.submit-btn {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #6741ff;
    color: white;
    cursor: pointer;
}

.submit-btn:hover {
    background: #512bd4;
}